<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carreras</title>
</head>
<body>
    <h1>Carreras</h1>

    <li><a href="{% url 'carreras' %}">Carreras</a></li>
    <li><a href="{% url 'profesores'%}">Profesores</a></li>
    <li><a href="{% url 'home'%}">Home</a></li>

    {% for carrera in carrera %}
        <li> {{carrera.nombre}} </li>
    {% endfor %}
</body>
</html>